/* .button{
    height: 30px;
    font-size: 12px;
    border: solid;
    /* margin-top: 80px; */
    /* width: 90px; */


.show-form{
    align-items: center;
    color: white;
    /* margin: auto; */
    text-align: center;
    /* width: 80%; */
}

.custom-heading {
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.storyline-field{
    word-wrap: break-word;
    word-break: break-all;
    /* height: 80px; */
}

.ui.form .field>label {
    color: white;
    text-align: left;
    font-size: 12px;
}

