/* .Header { */
    /* box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff; */
    /* height: 250px;  You must set a specified height 
    background-image: url("https://thumbs.dreamstime.com/b/classic-vintage-boxing-ring-corner-closeup-old-surrounded-ropes-spotlit-spotlight-dark-background-49083807.jpg");
    background-repeat: no-repeat  ;
    background-size: cover;  Resize the background image to cover the entire container  */

    :root {
        /* Base font size */
        font-size: 10px;
    
        /* Heading height variable*/
        --heading-height: 15em;
    }

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);

}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 1em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://www.dukehealth.org/sites/default/files/blog_post/blog_eye_flashes_1932x862.jpg) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid goldenrod;
}

.wrasslin-ring {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem; 
    padding: 10px;
    padding-left: 30px;
	text-shadow: .022em .022em .022em #111;
	color: #fff; 
    /* style={{ textAlign: 'center' }}  */
}  


main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}
body {
	/* font-family: "Roboto", Arial, sans-serif; */
	/* min-height: 100vh; */
	/* background-color: #101010; */
    background-color: orange;
}