.nav-bar-div{
    padding-top: 40px;
    /* background-color: black; */
    /* display: inline-block; */
    height: 1000px;
    float: left;
    width: 13%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

