.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 100px; */
}
.custom-heading {
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}