.card-div{
    display: inline-block;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: auto;
    outline: 9px dotted white;
    width: 100%;
    margin-top: 0px;
}

.custom-heading {
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 80px;
    margin-bottom: 20px;
}

